MYSQL_ROOT_PASSWORD=root
MYSQL_BUFFER_POOL_SIZE=256M

REDIS_MAXMEMORY=256mb

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_MEMORY_WATERMARK=0.2

BLOG_DB_NAME=blog_db
HR_DB_NAME=hr_db

DEV_DB_USER=devuser
DEV_DB_PASSWORD=changeme
