MYSQL_ROOT_PASSWORD=root
MYSQL_BUFFER_POOL_SIZE=256M

REDIS_MAXMEMORY=256mb

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_MEMORY_WATERMARK=0.2

REDPANDA_MEMORY=512M

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=admin
MONGO_CACHE_SIZE=0.25

BLOG_DB_NAME=blog_db
HR_DB_NAME=hr_db

DEV_DB_USER=devuser
DEV_DB_PASSWORD=changeme
