MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_BUFFER_POOL_SIZE=256M
MYSQL_CONTAINER_NAME=local-mysql

REDIS_PORT=6379
REDIS_MAXMEMORY=256mb
REDIS_CONTAINER_NAME=local-redis

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_MEMORY_WATERMARK=0.2
RABBITMQ_CONTAINER_NAME=local-rabbitmq

REDPANDA_KAFKA_PORT=9092
REDPANDA_ADMIN_PORT=9644
REDPANDA_MEMORY=512M
REDPANDA_CONTAINER_NAME=local-redpanda

MONGO_PORT=27017
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=admin
MONGO_CACHE_SIZE=0.25
MONGO_CONTAINER_NAME=local-mongodb
MONGO_APP_DB=blog

INFRA_NETWORK_NAME=infra_default

BLOG_DB_NAME=blog_db
HR_DB_NAME=hr_db

DEV_DB_USER=devuser
DEV_DB_PASSWORD=changeme
